<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>PoPo</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <!-- Favicons -->
    <link rel="icon" th:href="@{/assets/img/favicon.png}" type="image/png">
    <link rel="apple-touch-icon" th:href="@{/assets/img/apple-touch-icon.png}" type="image/png">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i}"
          rel="stylesheet">
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0/css/select2.min.css}" rel="stylesheet"/>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0/js/select2.min.js}"></script>

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/style.css}" rel="stylesheet">


</head>

<body>
<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
            <img src="assets/img/logo.png" alt="">
            <span class="d-none d-lg-block">PoPo</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input type="text" name="query" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li><!-- End Search Icon-->

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-bell"></i>
                    <span class="badge bg-primary badge-number">4</span>
                </a><!-- End Notification Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                    <li class="dropdown-header">
                        You have 4 new notifications
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-exclamation-circle text-warning"></i>
                        <div>
                            <h4>Lorem Ipsum</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>30 min. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-x-circle text-danger"></i>
                        <div>
                            <h4>Atque rerum nesciunt</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>1 hr. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-check-circle text-success"></i>
                        <div>
                            <h4>Sit rerum fuga</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>2 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-info-circle text-primary"></i>
                        <div>
                            <h4>Dicta reprehenderit</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>4 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="dropdown-footer">
                        <a href="#">Show all notifications</a>
                    </li>

                </ul><!-- End Notification Dropdown Items -->

            </li><!-- End Notification Nav -->

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-chat-left-text"></i>
                    <span class="badge bg-success badge-number">3</span>
                </a><!-- End Messages Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                    <li class="dropdown-header">
                        You have 3 new messages
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
                            <div>
                                <h4>Maria Hudson</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>4 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
                            <div>
                                <h4>Anna Nelson</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>6 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
                            <div>
                                <h4>David Muldon</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>8 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="dropdown-footer">
                        <a href="#">Show all messages</a>
                    </li>

                </ul><!-- End Messages Dropdown Items -->

            </li><!-- End Messages Nav -->

            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img th:src="@{/assets/img/profile-img.jpg}" alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>Kevin Anderson</h6>
                        <span>Web Designer</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                            <i class="bi bi-person"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                            <i class="bi bi-gear"></i>
                            <span>Account Settings</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                            <i class="bi bi-question-circle"></i>
                            <span>Need Help?</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sign Out</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link" href="#!/Dashboard">
                <i class="bi bi-grid"></i>
                <span>Bán hàng</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Quản lý sản phẩm</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a th:href="@{/SanPham/SanPhams}">
                        <i class="bi bi-circle"></i><span>Sản phẩm</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/SanPham/CameraSaus/list}">
                        <i class="bi bi-circle"></i><span>Camera Sau</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/SanPham/CameraTruocs}">
                        <i class="bi bi-circle"></i><span>Camera Trước</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/SanPham/Chips}">
                        <i class="bi bi-circle"></i><span>Chip</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/SanPham/DanhMucs}">
                        <i class="bi bi-circle"></i><span>Danh mục</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/SanPham/DoPhanGiais}">
                        <i class="bi bi-circle"></i><span>Độ phân giải</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/SanPham/Hangs}">
                        <i class="bi bi-circle"></i><span>Hãng</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/SanPham/HeDieuHanhs}">
                        <i class="bi bi-circle"></i><span>Hệ điều hành</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/SanPham/LoaiSacs}">
                        <i class="bi bi-circle"></i><span>Loại Sạc</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/SanPham/Pins}">
                        <i class="bi bi-circle"></i><span>Pin</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/SanPham/TheNhos}">
                        <i class="bi bi-circle"></i><span>Thẻ nhớ</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/SanPham/AnhSanPhams}">
                        <i class="bi bi-circle"></i><span>Ảnh sản phẩm</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/SanPham/Imeis}">
                        <i class="bi bi-circle"></i><span>Imei</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/SanPham/MauSacs}">
                        <i class="bi bi-circle"></i><span>Màu sắc</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/SanPham/Rams}">
                        <i class="bi bi-circle"></i><span>Ram</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/SanPham/Roms}">
                        <i class="bi bi-circle"></i><span>Rom</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Components Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Quản lý hóa đơn</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="forms-elements.html">
                        <i class="bi bi-circle"></i><span>Form Elements</span>
                    </a>
                </li>
                <li>
                    <a href="forms-layouts.html">
                        <i class="bi bi-circle"></i><span>Form Layouts</span>
                    </a>
                </li>
                <li>
                    <a href="forms-editors.html">
                        <i class="bi bi-circle"></i><span>Form Editors</span>
                    </a>
                </li>
                <li>
                    <a href="forms-validation.html">
                        <i class="bi bi-circle"></i><span>Form Validation</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Forms Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i><span>Quản lý nhân viên</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="tables-general.html">
                        <i class="bi bi-circle"></i><span>General Tables</span>
                    </a>
                </li>
                <li>
                    <a href="tables-data.html">
                        <i class="bi bi-circle"></i><span>Data Tables</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Tables Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-bar-chart"></i><span>Quản lý khách hàng</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="charts-chartjs.html">
                        <i class="bi bi-circle"></i><span>Chart.js</span>
                    </a>
                </li>
                <li>
                    <a href="charts-apexcharts.html">
                        <i class="bi bi-circle"></i><span>ApexCharts</span>
                    </a>
                </li>
                <li>
                    <a href="charts-echarts.html">
                        <i class="bi bi-circle"></i><span>ECharts</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Charts Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-gem"></i><span>Quản lý phiếu giảm giá</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="icons-bootstrap.html">
                        <i class="bi bi-circle"></i><span>Bootstrap Icons</span>
                    </a>
                </li>
                <li>
                    <a href="icons-remix.html">
                        <i class="bi bi-circle"></i><span>Remix Icons</span>
                    </a>
                </li>
                <li>
                    <a href="icons-boxicons.html">
                        <i class="bi bi-circle"></i><span>Boxicons</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Icons Nav -->


    </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">
    <h2 class="text-center">Thêm Sản Phẩm</h2>

    <div class="card container">
        <div class="card-body">
            <!-- Multi Columns Form -->
            <form class="row g-3" th:object="${sanPham}" th:action="@{/SanPham/SanPhams/save}" method="post">
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{maSanPham}"/>

                <div class="col-md-12">
                    <label for="tenSanPham" class="form-label">Tên sản phẩm</label>
                    <input type="text" class="form-control" name="tenSanPham" id="tenSanPham1" list="tenSanPham">
                    <datalist id="tenSanPham" >
                        <option th:each="sanPham : ${sanPhams}" th:value="${sanPham.tenSanPham}"
                                th:text="${sanPham.tenSanPham}"></option>
                    </datalist>
<!--                    <input class="form-control" id="tenSanPham" type="text" th:field="*{tenSanPham}">-->
<!--                    <option th:each="sanPham : ${sanPhams}" th:value="${sanPham.tenSanPham}"&ndash;&gt;-->
                        <!--                                th:text="${sanPham.tenSanPham}"></option>-->
                </div>
<!--                    <label for="tenSanPham" class="form-label">Tên sản phẩm</label>-->
<!--                    <select id="tenSanPham" class="form-control" name="tenSanPham" multiple="multiple">-->
<!--                        <option th:each="sanPham : ${sanPhams}" th:value="${sanPham.tenSanPham}"-->
<!--                                th:text="${sanPham.tenSanPham}"></option>-->
<!--                    </select>-->
<!--                    -->
<!--                    <select id="tenSanPham" class="form-control" multiple="multiple" name="tenSanPham">-->
<!--                        &lt;!&ndash; Thymeleaf iteration to populate options &ndash;&gt;-->
<!--                        <option th:each="sanPham : ${sanPhams}" th:value="${sanPham.tenSanPham}"-->
<!--                                th:text="${sanPham.tenSanPham}"></option>-->
<!--                    </select>-->


                <div class="col-md-12">
                    <label for="moTa" class="form-label">Mô tả</label>
                    <textarea class="form-control" id="moTa" rows="3" th:field="*{moTa}"></textarea>
                </div>

                <div class="col-md-4">
                    <label for="danhMuc" class="form-label">Danh mục</label>
                    <div class="input-group">
                        <select class="form-select" id="danhMuc" th:field="*{danhMuc.id}">
                            <option th:each="danhMuc : ${danhMucList}" th:value="${danhMuc.id}"
                                    th:text="${danhMuc.tenDanhMuc}">Chọn danh mục
                            </option>
                        </select>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#HangMucAdd">
                            +
                        </button>

                        <!-- Modal -->
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="hang" class="form-label">Hãng</label>
                    <div class="input-group">
                    <select class="form-select" id="hang" th:field="*{hang.id}">
                        <option th:each="hang : ${hangList}" th:value="${hang.id}" th:text="${hang.tenHang}">Chọn hãng
                        </option>
                    </select>
                        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#HangAdd">
                            +
                        </button>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="chip" class="form-label">Chip</label>
                    <div class="input-group">
                    <select class="form-select" id="chip" th:field="*{chip.id}">
                        <option th:each="chip : ${chipList}" th:value="${chip.id}" th:text="${chip.TenChip}">Chọn chip
                        </option>
                    </select>
                        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#ChipAdd">
                            +
                        </button>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="heDieuHanh" class="form-label">Hệ điều hành</label>
                    <div class="input-group">
                    <select class="form-select" id="heDieuHanh" th:field="*{heDieuHanh.id}">
                        <option th:each="heDieuHanh : ${heDieuHanhList}" th:value="${heDieuHanh.id}"
                                th:text="${heDieuHanh.tenHeDieuHanh}">Chọn hệ điều hành
                        </option>
                    </select>
                        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#HeDieuHanhAdd">
                            +
                        </button>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="loaiSac" class="form-label">Loại Sạc</label>
                    <div class="input-group">
                    <select class="form-select" id="loaiSac" th:field="*{loaiSac.id}">
                        <option th:each="loaiSac : ${loaiSacList}" th:value="${loaiSac.id}"
                                th:text="${loaiSac.tenLoaiSac}">Chọn loại sạc
                        </option>
                    </select>
                        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#LoaiSacAdd">
                            +
                        </button>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="theNho" class="form-label">Thẻ nhớ</label>
                    <div class="input-group">
                    <select class="form-select" id="theNho" th:field="*{theNho.id}">
                        <option th:each="theNho : ${theNhoList}" th:value="${theNho.id}" th:text="${theNho.tenTheNho}">
                            Chọn thẻ nhớ
                        </option>
                    </select>
                        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#TheNhoAdd">
                            +
                        </button>
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="cameraTruoc" class="form-label">Camera trước</label>
                    <div class="input-group">
                    <select class="form-select" id="cameraTruoc" th:field="*{cameraTruoc.id}">
                        <option th:each="cameraTruoc : ${cameraTruocList}" th:value="${cameraTruoc.id}"
                                th:text="${cameraTruoc.tenCameraTruoc}">Chọn camera trước
                        </option>
                    </select>
                        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#CamTruocAdd">
                            +
                        </button>
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="cameraSau" class="form-label">Camera sau</label>
                    <div class="input-group">
                    <select class="form-select" id="cameraSau" th:field="*{cameraSau.id}">
                        <option th:each="cameraSau : ${cameraSauList}" th:value="${cameraSau.id}"
                                th:text="${cameraSau.tenCameraSau}">Chọn camera sau
                        </option>
                    </select>
                        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#CamSauAdd">
                            +
                        </button>
<!--                    <select id="test" class="form-select">-->
<!--                        <option value="1">American Black Bear</option>-->
<!--                        <option value="2">Asiatic Black Bear</option>-->
<!--                        <option value="3">Brown Bear</option>-->
<!--                        <option value="4">Giant Panda</option>-->
<!--                        <option value="5">Sloth Bear</option>-->
<!--                        <option value="6">Sun Bear</option>-->
<!--                        <option value="7">Polar Bear</option>-->
<!--                        <option value="8">Spectacled Bear</option>-->
<!--                    </select>-->
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="doPhanGiai" class="form-label">Độ phân giải</label>
                    <div class="input-group">
                    <select class="form-select" id="doPhanGiai" th:field="*{doPhanGiai.id}">
                        <option th:each="doPhanGiai : ${doPhanGiaiList}" th:value="${doPhanGiai.id}"
                                th:text="${doPhanGiai.tenDoPhanGiai}">Chọn độ phân giải
                        </option>
                    </select>
                        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#DoPhanGiaiAdd">
                            +
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="pin" class="form-label">Dung lượng Pin</label>
                    <div class="input-group">
                    <select class="form-select" id="pin" th:field="*{pin.id}">
                        <option th:each="pin : ${pinList}" th:value="${pin.id}"
                                th:text="${pin.tenPin}">Chọn Pin
                        </option>
                    </select>
                        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#PinAdd">
                            +
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="dungLuong" class="form-label">Trọng lượng</label>
                    <input class="form-control" id="dungLuong" type="number" th:field="*{dungLuong}">

                </div>

                <div class="col-md-6">
                    <label for="trangThai">Trạng thái:</label>
                    <select class="form-control" id="trangThai" th:field="*{trangThai}">
                        <option value="0">Kinh doanh</option>
                        <option value="1">Không kinh doanh</option>
                    </select>
                </div>
                <div class="container mt-4">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <input type="checkbox">
                                    <span>PHIÊN BẢN </span>
                                </div>

                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" id="selectAll"></th>
                                    <th>STT</th>
                                    <th>Tên Sản Phẩm</th>
                                    <th>Màu Sắc</th>
                                    <th>Số Lượng</th>
                                    <th>Đơn Giá</th>
                                    <th>Thao Tác</th>
                                </tr>
                                </thead>
                                <tbody id="productTableBody">
                                <tr>
                                    <td><input type="checkbox" class="select-item"></td>
                                    <td>3</td>
                                    <td class="product-name"></td>
                                    <td>Vàng</td>
                                    <td>0</td>
                                    <td><input type="text" value="0" class="form-control"></td>
                                    <td>
                                        <a class="btn "> <img src="https://img.icons8.com/?size=25&id=cWhjh7IgpFHy&format=png&color=000000" alt=""></a>

                                        <a class="btn "> <img src="https://img.icons8.com/?size=25&id=OTqHRsz9MuVp&format=png&color=000000" alt=""></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer text-right">
                            <button class="btn btn-primary">Hoàn Tất</button>
                        </div>
                    </div>
                </div>
            </form><!-- End Multi Columns Form -->
        </div>
    </div>


</main><!-- End #main -->
<div class="modal fade" id="HangMucAdd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="DanhMucAddLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="DanhMucAddLabel">Thêm danh mục</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:object="${danhMuc}" th:action="@{/SanPham/SanPhams/DanhMucs/save}" method="post">
                    <div class="form-group">
                        <label for="tenDanhMuc">Tên:</label>
                        <input type="text" class="form-control" id="tenDanhMuc" th:field="*{tenDanhMuc}" placeholder="Nhập tên danh mục">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="HangAdd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="HangAddLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="HangAddLabel">Thêm danh mục</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:object="${hang}" th:action="@{/SanPham/SanPhams/Hangs/save}" method="post">
                    <div class="form-group">
                        <label for="tenHang">Tên:</label>
                        <input type="text" class="form-control" id="tenHang" th:field="*{tenHang}" placeholder="Nhập tên">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="HeDieuHanhAdd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="HeDieuHanhAddLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="HeDieuHanhAddLabel">Thêm danh mục</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:object="${heDieuHanh}" th:action="@{/SanPham/SanPhams/HeDieuHanhs/save}" method="post">
                    <div class="form-group">
                        <label for="tenHang">Tên:</label>
                        <input type="text" class="form-control" id="tenHeDieuHanh" th:field="*{tenHeDieuHanh}" placeholder="Nhập tên">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ChipAdd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ChipAddLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ChipAddLabel">Thêm danh mục</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:object="${chip}" th:action="@{/SanPham/SanPhams/Chips/save}" method="post">
                    <div class="form-group">
                        <label for="tenChip">Tên:</label>
                        <input type="text" class="form-control" id="tenChip" th:field="*{tenChip}" placeholder="Nhập tên">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="LoaiSacAdd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="LoaiSacAddLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="LoaiSacAddLabel">Thêm danh mục</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:object="${loaiSac}" th:action="@{/SanPham/SanPhams/LoaiSacs/save}" method="post">
                    <div class="form-group">
                        <label for="tenLoaiSac">Tên:</label>
                        <input type="text" class="form-control" id="tenLoaiSac" th:field="*{tenLoaiSac}" placeholder="Nhập tên">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="TheNhoAdd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="TheNhoAddLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="TheNhoAddLabel">Thêm danh mục</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:object="${theNho}" th:action="@{/SanPham/SanPhams/TheNhos/save}" method="post">
                    <div class="form-group">
                        <label for="tenTheNho">Tên:</label>
                        <input type="text" class="form-control" id="tenTheNho" th:field="*{tenTheNho}" placeholder="Nhập tên">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CamTruocAdd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="CameraTruocAddLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="CameraTruocAddLabel">Thêm danh mục</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:object="${cameraTruoc}" th:action="@{/SanPham/SanPhams/CameraTruocs/save}" method="post">
                    <div class="form-group">
                        <label for="tenCameraTruoc">Tên:</label>
                        <input type="text" class="form-control" id="tenCameraTruoc" th:field="*{tenCameraTruoc}" placeholder="Nhập tên">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DoPhanGiaiAdd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="DoPhanGiaiAddLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="DoPhanGiaiAddLabel">Thêm danh mục</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:object="${doPhanGiai}" th:action="@{/SanPham/SanPhams/DoPhanGiais/save}" method="post">
                    <div class="form-group">
                        <label for="tenDoPhanGiai">Tên:</label>
                        <input type="text" class="form-control" id="tenDoPhanGiai" th:field="*{tenDoPhanGiai}" placeholder="Nhập tên">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PinAdd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="PiniAddLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="PinAddLabel">Thêm danh mục</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:object="${pin}" th:action="@{/SanPham/SanPhams/Pins/save}" method="post">
                    <div class="form-group">
                        <label for="tenPin">Tên:</label>
                        <input type="text" class="form-control" id="tenPin" th:field="*{tenPin}" placeholder="Nhập tên">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>

            </div>
        </div>
    </div>
</div>

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>PoPo</span></strong>. All Rights Reserved
    </div>
    <div class="credits">

        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
</footer><!-- End Footer -->


</body>
<script>
    document.getElementById('selectAll').addEventListener('click', function(event) {
        let checkboxes = document.querySelectorAll('.select-item');
        checkboxes.forEach(function(checkbox) {
            checkbox.checked = event.target.checked;
        });
    });
    $(".js-example-tags").select2({
        tags: true
    });
    $(document).ready(function () {
        $("#    ").CreateMultiCheckBox({
            defaultText : 'Select Below' });
    });
    $(document).ready(function () {
        $(document).on("click", ".MultiCheckBox", function () {
            var detail = $(this).next();
            detail.show();
        });

        $(document).on("click", ".MultiCheckBoxDetailHeader input", function (e) {
            e.stopPropagation();
            var hc = $(this).prop("checked");
            $(this).closest(".MultiCheckBoxDetail").find(".MultiCheckBoxDetailBody input").prop("checked", hc);
            $(this).closest(".MultiCheckBoxDetail").next().UpdateSelect();
        });

        $(document).on("click", ".MultiCheckBoxDetailHeader", function (e) {
            var inp = $(this).find("input");
            var chk = inp.prop("checked");
            inp.prop("checked", !chk);
            $(this).closest(".MultiCheckBoxDetail").find(".MultiCheckBoxDetailBody input").prop("checked", !chk);
            $(this).closest(".MultiCheckBoxDetail").next().UpdateSelect();
        });

        $(document).on("click", ".MultiCheckBoxDetail .cont input", function (e) {
            e.stopPropagation();
            $(this).closest(".MultiCheckBoxDetail").next().UpdateSelect();

            var val = ($(".MultiCheckBoxDetailBody input:checked").length == $(".MultiCheckBoxDetailBody input").length)
            $(".MultiCheckBoxDetailHeader input").prop("checked", val);
        });

        $(document).on("click", ".MultiCheckBoxDetail .cont", function (e) {
            var inp = $(this).find("input");
            var chk = inp.prop("checked");
            inp.prop("checked", !chk);

            var multiCheckBoxDetail = $(this).closest(".MultiCheckBoxDetail");
            var multiCheckBoxDetailBody = $(this).closest(".MultiCheckBoxDetailBody");
            multiCheckBoxDetail.next().UpdateSelect();

            var val = ($(".MultiCheckBoxDetailBody input:checked").length == $(".MultiCheckBoxDetailBody input").length)
            $(".MultiCheckBoxDetailHeader input").prop("checked", val);
        });

        $(document).mouseup(function (e) {
            var container = $(".MultiCheckBoxDetail");
            if (!container.is(e.target) && container.has(e.target).length === 0) {
                container.hide();
            }
        });
    });

    var defaultMultiCheckBoxOption = { width: '220px', defaultText: 'Select Below', height: '200px' };

    jQuery.fn.extend({
        CreateMultiCheckBox: function (options) {

            var localOption = {};
            localOption.width = (options != null && options.width != null && options.width != undefined) ? options.width : defaultMultiCheckBoxOption.width;
            localOption.defaultText = (options != null && options.defaultText != null && options.defaultText != undefined) ? options.defaultText : defaultMultiCheckBoxOption.defaultText;
            localOption.height = (options != null && options.height != null && options.height != undefined) ? options.height : defaultMultiCheckBoxOption.height;

            this.hide();
            this.attr("multiple", "multiple");
            var divSel = $("<div class='MultiCheckBox'>" + localOption.defaultText + "<span class='k-icon k-i-arrow-60-down'><svg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='sort-down' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' class='svg-inline--fa fa-sort-down fa-w-10 fa-2x'><path fill='currentColor' d='M41 288h238c21.4 0 32.1 25.9 17 41L177 448c-9.4 9.4-24.6 9.4-33.9 0L24 329c-15.1-15.1-4.4-41 17-41z' class=''></path></svg></span></div>").insertBefore(this);
            divSel.css({ "width": localOption.width });

            var detail = $("<div class='MultiCheckBoxDetail'><div class='MultiCheckBoxDetailHeader'><input type='checkbox' class='mulinput' value='-1982' /><div>Select All</div></div><div class='MultiCheckBoxDetailBody'></div></div>").insertAfter(divSel);
            detail.css({ "width": parseInt(options.width) + 10, "max-height": localOption.height });
            var multiCheckBoxDetailBody = detail.find(".MultiCheckBoxDetailBody");

            this.find("option").each(function () {
                var val = $(this).attr("value");

                if (val == undefined)
                    val = '';

                multiCheckBoxDetailBody.append("<div class='cont'><div><input type='checkbox' class='mulinput' value='" + val + "' /></div><div>" + $(this).text() + "</div></div>");
            });

            multiCheckBoxDetailBody.css("max-height", (parseInt($(".MultiCheckBoxDetail").css("max-height")) - 28) + "px");
        },
        UpdateSelect: function () {
            var arr = [];

            this.prev().find(".mulinput:checked").each(function () {
                arr.push($(this).val());
            });

            this.val(arr);
        },
    });
    document.getElementById('tenSanPham1').addEventListener('input', function() {
        var inputVal = this.value;
        var productNames = document.querySelectorAll('.product-name');
        productNames.forEach(function(productName) {
            productName.textContent = inputVal;
        });
    });
    $(document).ready(function() {
        // Initialize Select2 plugin
        $('.js-example-tags').select2();

        // Update table based on dropdown selection
        $('#tenSanPham').on('change', function() {
            var selectedProductName = $(this).val();
            $('.product-name').text(selectedProductName);
        });
    });
</script>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/assets/vendor/quill/quill.js}"></script>
<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>
</html>