<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>PoPo</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link rel="icon" th:href="@{/assets/img/favicon.png}" type="image/png">
    <link rel="apple-touch-icon" th:href="@{/assets/img/apple-touch-icon.png}" type="image/png">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i}"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/style.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Icons   -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>
<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
            <img src="assets/img/logo.png" alt="">
            <span class="d-none d-lg-block">PoPo</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input type="text" name="query" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li><!-- End Search Icon-->

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-bell"></i>
                    <span class="badge bg-primary badge-number">4</span>
                </a><!-- End Notification Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                    <li class="dropdown-header">
                        You have 4 new notifications
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-exclamation-circle text-warning"></i>
                        <div>
                            <h4>Lorem Ipsum</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>30 min. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-x-circle text-danger"></i>
                        <div>
                            <h4>Atque rerum nesciunt</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>1 hr. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-check-circle text-success"></i>
                        <div>
                            <h4>Sit rerum fuga</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>2 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-info-circle text-primary"></i>
                        <div>
                            <h4>Dicta reprehenderit</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>4 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="dropdown-footer">
                        <a href="#">Show all notifications</a>
                    </li>

                </ul><!-- End Notification Dropdown Items -->

            </li><!-- End Notification Nav -->

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-chat-left-text"></i>
                    <span class="badge bg-success badge-number">3</span>
                </a><!-- End Messages Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                    <li class="dropdown-header">
                        You have 3 new messages
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
                            <div>
                                <h4>Maria Hudson</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>4 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
                            <div>
                                <h4>Anna Nelson</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>6 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
                            <div>
                                <h4>David Muldon</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>8 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="dropdown-footer">
                        <a href="#">Show all messages</a>
                    </li>

                </ul><!-- End Messages Dropdown Items -->

            </li><!-- End Messages Nav -->

            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img th:src="@{/assets/img/profile-img.jpg}" alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>Kevin Anderson</h6>
                        <span>Web Designer</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                            <i class="bi bi-person"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                            <i class="bi bi-gear"></i>
                            <span>Account Settings</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                            <i class="bi bi-question-circle"></i>
                            <span>Need Help?</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sign Out</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link" href="#!/Dashboard">
                <i class="bi bi-grid"></i>
                <span>Bán hàng</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Quản lý sản phẩm</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a th:href="@{/SanPham/SanPhams}">
                        <i class="bi bi-circle"></i><span>Sản phẩm</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/SanPham/CameraSaus/list}">
                        <i class="bi bi-circle"></i><span>Camera Sau</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/SanPham/CameraTruocs}">
                        <i class="bi bi-circle"></i><span>Camera Trước</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/SanPham/Chips}">
                        <i class="bi bi-circle"></i><span>Chip</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/SanPham/DanhMucs}">
                        <i class="bi bi-circle"></i><span>Danh mục</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/SanPham/DoPhanGiais}">
                        <i class="bi bi-circle"></i><span>Độ phân giải</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/SanPham/Hangs}">
                        <i class="bi bi-circle"></i><span>Hãng</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/SanPham/HeDieuHanhs}">
                        <i class="bi bi-circle"></i><span>Hệ điều hành</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/SanPham/LoaiSacs}">
                        <i class="bi bi-circle"></i><span>Loại Sạc</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/SanPham/Pins}">
                        <i class="bi bi-circle"></i><span>Pin</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/SanPham/TheNhos}">
                        <i class="bi bi-circle"></i><span>Thẻ nhớ</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/SanPham/AnhSanPhams}">
                        <i class="bi bi-circle"></i><span>Ảnh sản phẩm</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/SanPham/Imeis}">
                        <i class="bi bi-circle"></i><span>Imei</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/SanPham/MauSacs}">
                        <i class="bi bi-circle"></i><span>Màu sắc</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/SanPham/Rams}">
                        <i class="bi bi-circle"></i><span>Ram</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/SanPham/Roms}">
                        <i class="bi bi-circle"></i><span>Rom</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Components Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Quản lý hóa đơn</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a th:href="@{/hoa-don/hien-thi}">
                        <i class="bi bi-circle"></i><span>Quản Lý Hóa Đơn</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/hoa-don-chi-tiet/hien-thi}">
                        <i class="bi bi-circle"></i><span>Hóa Đơn Chi Tiết</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/lich-su-hoa-don/hien-thi}">
                        <i class="bi bi-circle"></i><span>Lịch Sử Hóa Đơn</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i><span>Quản lý nhân viên</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="tables-general.html">
                        <i class="bi bi-circle"></i><span>General Tables</span>
                    </a>
                </li>
                <li>
                    <a href="tables-data.html">
                        <i class="bi bi-circle"></i><span>Data Tables</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Tables Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-bar-chart"></i><span>Quản lý khách hàng</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="charts-chartjs.html">
                        <i class="bi bi-circle"></i><span>Chart.js</span>
                    </a>
                </li>
                <li>
                    <a href="charts-apexcharts.html">
                        <i class="bi bi-circle"></i><span>ApexCharts</span>
                    </a>
                </li>
                <li>
                    <a href="charts-echarts.html">
                        <i class="bi bi-circle"></i><span>ECharts</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Charts Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-gem"></i><span>Quản lý phiếu giảm giá</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="icons-bootstrap.html">
                        <i class="bi bi-circle"></i><span>Bootstrap Icons</span>
                    </a>
                </li>
                <li>
                    <a href="icons-remix.html">
                        <i class="bi bi-circle"></i><span>Remix Icons</span>
                    </a>
                </li>
                <li>
                    <a href="icons-boxicons.html">
                        <i class="bi bi-circle"></i><span>Boxicons</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Icons Nav -->
    </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">

    <div class="container-fluid">

        <div class="container">
            <h2 class="text-center">QUẢN LÝ HÓA ĐƠN</h2>
            <form action="/hoa-don/hien-thi" method="get" id="searchForm" class="search-form">
                <div class="form-group">
                    <label for="keyword">Tìm kiếm hóa đơn:</label>
                    <input type="text" name="keyword" id="keyword" th:value="${keyword}" placeholder="Tìm kiếm hóa đơn" class="form-control">
                </div>
                <div class="form-group-inline">
                    <div>
                        <label for="fromDate">Từ ngày:</label>
                        <input type="date" name="fromDate" id="fromDate" class="form-control" pattern="\d{4}-\d{2}-\d{2}" placeholder="từ ngày">
                    </div>
                    <div>
                        <label for="toDate">Đến ngày:</label>
                        <input type="date" name="toDate" id="toDate" class="form-control" pattern="\d{4}-\d{2}-\d{2}" placeholder="đến ngày">
                    </div>
                </div>
                <div class="form-group-inline">
                    <div>
                        <label for="trangThai">Trạng thái hóa đơn:</label>
                        <select name="trangThai" id="trangThai" class="form-control">
                            <option value="0" th:selected="${trangThai == 0}">Tất cả</option>
                            <option value="1" th:selected="${trangThai == 1}">Đang chờ xử lý</option>
                            <option value="2" th:selected="${trangThai == 2}">Đã hủy</option>
                            <option value="3" th:selected="${trangThai == 3}">Đang vận chuyển</option>
                            <option value="4" th:selected="${trangThai == 4}">Hoàn thành</option>
                            <option value="5" th:selected="${trangThai == 5}">Đã giao hàng</option>
                        </select>
                    </div>
                    <div>
                        <label for="hanhDong">Hành động:</label>
                        <select name="hanhDong" id="hanhDong" class="form-control">
                            <option value="0" th:selected="${hanhDong == 0}">Tất cả</option>
                            <option value="1" th:selected="${hanhDong == 1}">Tạo mới</option>
                            <option value="2" th:selected="${hanhDong == 2}">Sửa hóa đơn</option>
                            <option value="3" th:selected="${hanhDong == 3}">Xóa hóa đơn</option>
                            <option value="4" th:selected="${hanhDong == 4}">Xuất hóa đơn</option>
                            <option value="5" th:selected="${hanhDong == 5}">In hóa đơn</option>
                            <option value="6" th:selected="${hanhDong == 6}">Gửi email hóa đơn</option>
                            <option value="7" th:selected="${hanhDong == 7}">Thanh toán hóa đơn</option>
                            <option value="8" th:selected="${hanhDong == 8}">Chuyển trạng thái hóa đơn</option>
                            <option value="9" th:selected="${hanhDong == 9}">Gửi thông báo hóa đơn</option>
                            <option value="10" th:selected="${hanhDong == 10}">Lưu trữ hóa đơn</option>
                            <option value="11" th:selected="${hanhDong == 11}">Hủy hóa đơn</option>
                            <option value="12" th:selected="${hanhDong == 12}">Xem chi tiết hóa đơn</option>
                            <option value="13" th:selected="${hanhDong == 13}">Sao chép hóa đơn</option>
                            <option value="14" th:selected="${hanhDong == 14}">Cập nhật thông tin hóa đơn</option>
                            <option value="15" th:selected="${hanhDong == 15}">Báo cáo hóa đơn</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Loại hóa đơn:</label>
                    <div>
                        <input type="radio" name="type" id="all" value="all" th:checked="${type == 'all'}">
                        <label for="all">Tất cả</label>
                    </div>
                    <div>
                        <input type="radio" name="type" id="online" value="online" th:checked="${type == 'online'}">
                        <label for="online">Trực tuyến</label>
                    </div>
                    <div>
                        <input type="radio" name="type" id="offline" value="offline" th:checked="${type == 'offline'}">
                        <label for="offline">Tại quầy</label>
                    </div>
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                    <a th:href="@{/hoa-don/view-add}" class="btn btn-primary">Tạo hóa đơn</a>
                    <button type="submit" formaction="/hoa-don/export-excel" formmethod="post" class="btn btn-success">Export Excel</button>
                </div>
            </form>
        </div>

        <table class="table table-bordered table-hover text-center">
            <p><h2>DANH SÁCH HÓA ĐƠN</h2></p>
            <tr>
                <th>STT</th>
                <th>Mã hóa đơn</th>
                <th>Tên nhân viên</th>
                <th>Tên khách hàng</th>
                <th>Số điện thoại</th>
                <th>Tổng tiền</th>
                <th>Ngày thanh toán</th>
                <th>Loại hóa đơn</th>
                <th>Trạng thái</th>
                <th>Hành động</th>
                <th>Xem chi tiết</th>
            </tr>
            <tr th:each="HoaDon, index : ${listHoaDon.content}">
                <td th:text="${index.count}"></td>
                <td th:text="${HoaDon.ma}"></td>
                <td>Nguyễn Hải Yến</td>
                <td>Khách lẻ</td>
                <td th:text="${#strings.concat('0', HoaDon.soDienThoai)}"></td>
                <td class="currency" th:text="${HoaDon.tongTien}"></td>
                <td th:text="${HoaDon.formattedNgayTao}"></td>

                <td>
                        <span th:text="${HoaDon.loaiHoaDon == 1 ? 'Tại quầy' : 'Trực tuyến'}"
                              th:class="${HoaDon.loaiHoaDon == 1 ? 'badge bg-success' : 'badge bg-secondary'}"></span>
                </td>
                <td>
                    <span th:text="${HoaDon.trangThai == 1 ? 'Đang chờ xử lý' :
                                     (HoaDon.trangThai == 2 ? 'Đã hủy' :
                                     (HoaDon.trangThai == 3 ? 'Đang vận chuyển' :
                                     (HoaDon.trangThai == 4 ? 'Hoàn thành' :
                                     (HoaDon.trangThai == 5 ? 'Đã giao hàng' : 'Chưa xác định'))))}"
                          th:class="${HoaDon.trangThai == 1 ? 'badge bg-warning' :
                                     (HoaDon.trangThai == 2 ? 'badge bg-danger' :
                                     (HoaDon.trangThai == 3 ? 'badge bg-info' :
                                     (HoaDon.trangThai == 4 ? 'badge bg-success' :
                                     (HoaDon.trangThai == 5 ? 'badge bg-primary' : 'badge bg-secondary'))))}"></span>
                </td>
                <td>
                    <span th:text="${HoaDon.hanhDong == 1 ? 'Tạo mới' :
                                     (HoaDon.hanhDong == 2 ? 'Sửa hóa đơn' :
                                     (HoaDon.hanhDong == 3 ? 'Xóa hóa đơn' :
                                     (HoaDon.hanhDong == 4 ? 'Xuất hóa đơn' :
                                     (HoaDon.hanhDong == 5 ? 'In hóa đơn' :
                                     (HoaDon.hanhDong == 6 ? 'Gửi email hóa đơn' :
                                     (HoaDon.hanhDong == 7 ? 'Thanh toán hóa đơn' :
                                     (HoaDon.hanhDong == 8 ? 'Chuyển trạng thái hóa đơn' :
                                     (HoaDon.hanhDong == 9 ? 'Gửi thông báo hóa đơn' :
                                     (HoaDon.hanhDong == 10 ? 'Lưu trữ hóa đơn' :
                                     (HoaDon.hanhDong == 11 ? 'Hủy hóa đơn' :
                                     (HoaDon.hanhDong == 12 ? 'Xem chi tiết hóa đơn' :
                                     (HoaDon.hanhDong == 13 ? 'Sao chép hóa đơn' :
                                     (HoaDon.hanhDong == 14 ? 'Cập nhật thông tin hóa đơn' :
                                     (HoaDon.hanhDong == 15 ? 'Báo cáo hóa đơn' : 'Không xác định'))))))))))))))}"

                          th:class="${HoaDon.hanhDong == 1 ? 'badge bg-success' :
                                     (HoaDon.hanhDong == 2 ? 'badge bg-primary' :
                                     (HoaDon.hanhDong == 3 ? 'badge bg-danger' :
                                     (HoaDon.hanhDong == 4 ? 'badge bg-info' :
                                     (HoaDon.hanhDong == 5 ? 'badge bg-secondary' :
                                     (HoaDon.hanhDong == 6 ? 'badge bg-warning' :
                                     (HoaDon.hanhDong == 7 ? 'badge bg-success' :
                                     (HoaDon.hanhDong == 8 ? 'badge bg-primary' :
                                     (HoaDon.hanhDong == 9 ? 'badge bg-info' :
                                     (HoaDon.hanhDong == 10 ? 'badge bg-secondary' :
                                     (HoaDon.hanhDong == 11 ? 'badge bg-danger' :
                                     (HoaDon.hanhDong == 12 ? 'badge bg-warning' :
                                     (HoaDon.hanhDong == 13 ? 'badge bg-success' :
                                     (HoaDon.hanhDong == 14 ? 'badge bg-primary' :
                                     (HoaDon.hanhDong == 15 ? 'badge bg-info' : 'badge bg-secondary'))))))))))))))}">
                    </span>
                </td>

                <td>
                    <div class="form-check form-switch">
                        <a th:href="@{/hoa-don/detail/{id}(id=${HoaDon.id})}">
                            <img src="https://img.icons8.com/?size=25&id=71201&format=png&color=000000" alt="">
                        </a>

                        <a th:href="@{/hoa-don/delete/{id}(id=${HoaDon.id})}" data-id="${HoaDon.id}">
                            <input class="form-check-input" type="checkbox" checked>
                        </a>
                    </div>
                </td>
            </tr>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${listHoaDon.first ? 'disabled' : ''}">
                    <a class="page-link"
                       th:href="@{/hoa-don/hien-thi(keyword=${keyword}, page=${listHoaDon.number - 1})}"
                       aria-disabled="${listHoaDon.first}">Previous</a>
                </li>

                <th:block th:each="page, iterStat : ${#numbers.sequence(0, listHoaDon.totalPages - 1)}">
                    <li class="page-item"
                        th:classappend="${listHoaDon.number == page ? 'active' : ''}">
                        <a class="page-link"
                           th:href="@{/hoa-don/hien-thi(keyword=${keyword}, page=${page})}"
                           th:text="${page + 1}"></a>
                    </li>

                    <!-- Insert ellipsis if necessary -->
                    <th:block th:if="${iterStat.index == 2 && listHoaDon.number > 3}">
                        <li class="page-item"><span class="page-link">...</span></li>
                    </th:block>

                    <th:block th:if="${iterStat.index == listHoaDon.totalPages - 3 && listHoaDon.totalPages > 5 && page < listHoaDon.totalPages - 1}">
                        <li class="page-item"><span class="page-link">...</span></li>
                    </th:block>
                </th:block>

                <li class="page-item" th:classappend="${listHoaDon.last ? 'disabled' : ''}">
                    <a class="page-link"
                       th:href="@{/hoa-don/hien-thi(keyword=${keyword}, page=${listHoaDon.number + 1})}"
                       aria-disabled="${listHoaDon.last}">Next</a>
                </li>
            </ul>
        </nav>

    </div>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>PoPo</span></strong>. All Rights Reserved
    </div>
    <div class="credits">

        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
</footer><!-- End Footer -->

<!--CSS HÓA ĐƠN-->
<style>
    .search-form .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    .search-form label {
        margin-bottom: 5px;
    }

    .search-form .form-group-inline {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .search-form .form-group-inline > div {
        flex: 1;
        margin-right: 15px;
    }

    .search-form .form-group-inline > div:last-child {
        margin-right: 0;
    }

    .search-form .btn-group {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .search-form .btn-group > * {
        flex: 1;
        margin-right: 10px;
    }

    .search-form .btn-group > *:last-child {
        margin-right: 0;
    }
</style>

</style>
</body>
<script>
    document.getElementById('keyword').addEventListener('input', function () {
        if (this.value.length > 1) {
            document.getElementById('searchForm').submit();
        }
    });

    document.querySelectorAll('input[name="type"]').forEach(function (radio) {
        radio.addEventListener('change', function () {
            document.getElementById('searchForm').submit();
        });
    });

    document.getElementById('trangThai').addEventListener('change', function () {
        document.getElementById('searchForm').submit();
    });

    // dang tien te
    function formatCurrency(amount) {
        return new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(amount);
    }

    document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll('.currency').forEach(function(element) {
            element.textContent = formatCurrency(parseFloat(element.textContent));
        });
    });

    // input switches
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll('.form-check-input').forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                var id = this.getAttribute('data-id');
                var link = document.querySelector('a[data-id="' + id + '"]');
                if (this.checked) {
                    link.setAttribute('href', '/hoa-don/delete/' + id);
                } else {
                    link.removeAttribute('href');
                }
            });
        });
    });
</script>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/assets/vendor/quill/quill.js}"></script>
<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>
</html>